.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: url("/Logo/Gemini_Generated_Image_j55fcvj55fcvj55f.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #e0e0e0;
  min-height: 100vh;
}

.title {
  font-family: var(--font-nerko-one), cursive, sans-serif;
  font-size: 4rem;
  font-weight: 100;
  text-align: center;
  margin: 50px 0 50px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.1;
  transform: skewX(-8deg);
  white-space: nowrap;
  background: linear-gradient(to left, #dc3545, #007bff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  letter-spacing: 2px;
  transition: background-color 0.3s ease, color 0.9s ease;
  transform: skewX(-15deg);
  -webkit-text-stroke: 1px #000000;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}

.fightersDisplay {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 40px;
  gap: 80px;
}

.resultMessage {
  margin-top: 20px;
  font-size: 1.8em;
  font-weight: bold;
  color: #e94560;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

@media (max-width: 1024px) {
  .fightersDisplay {
    justify-content: space-around;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5em;
    margin: 30px 0;
    letter-spacing: 3px;
    transform: skewX(-10deg);
  }

  .fightersDisplay {
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .title {
    display: none;
  }

  .fightersDisplay {
    justify-content: space-around;
    gap: 10px;
  }
}
