body {
  background: linear-gradient(to left, #ffffff, #909090);
  color: white;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
.buttonFighters {
  padding: 10px 20px;
  background: linear-gradient(to right, #eb0909, #1607e3);
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
  border: 3px solid #000000;
  max-width: 300px;
  margin: 10px auto;
}

.buttonFighters:hover {
  background: linear-gradient(to left, #eb0909, #1607e3);
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
}

.logo {
  margin: 20px 0;
  width: 100%;
  height: auto;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
