.containerCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  padding: 20px;
  margin: 0 auto;
}

.fighterCard {
  border: 1px solid #1100ff;
  border-radius: 15px;
  width: 280px;
  padding: 20px;
  background-color: rgba(10, 10, 10, 0.6);
  box-shadow: 0 0 20px rgba(4, 0, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  min-height: auto;
}

.fighterCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(0, 240, 255, 0.9);
}

.fighterName {
  font-family: var(--font-nerko-one), cursive, sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 15px;
  color: #1100ff;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 0 0 8px rgba(4, 0, 255, 0.9);
}

.fighterImage {
  width: 100%;
  max-height: 220px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 20px;
}

.fighterCard p {
  margin-bottom: 15px;
  color: #e0e0e0;
}

.fighterButton {
  margin: 15px 15px;
  padding: 10px 15px;
  background-color: rgba(10, 10, 10, 0.8);
  color: white;
  border: 1px solid #1100ff;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9em;
  text-transform: uppercase;
  box-shadow: 0 0 15px rgba(4, 0, 255, 0.9);
  transition: background-color 0.2s ease, box-shadow 0.2s ease,
    transform 0.1s ease;
}

.fighterButton:hover {
  box-shadow: 0 0 25px rgba(0, 240, 255, 0.9);
  transform: translateY(-2px);
}

@media (max-width: 1200px) {
  .containerCard {
    gap: 40px;
  }
  .fighterCard {
    width: 250px;
    padding: 18px;
    font-size: 0.9rem;
  }
  .fighterName {
    font-size: 2em;
  }
  .fighterImage {
    max-height: 200px;
  }
  .fighterButton {
    font-size: 0.7em;
    padding: 9px 14px;
  }
}

@media (max-width: 992px) {
  .containerCard {
    gap: 30px;
  }
  .fighterCard {
    width: 240px;
    padding: 16px;
    font-size: 0.8rem;
  }
  .fighterName {
    font-size: 2em;
  }
  .fighterImage {
    max-height: 180px;
  }
  .fighterButton {
    font-size: 0.8em;
    padding: 8px 12px;
  }
}

@media (max-width: 768px) {
  .containerCard {
    gap: 20px;
  }
  .fighterCard {
    width: 220px;
    padding: 15px;
    font-size: 0.8rem;
  }
  .fighterName {
    font-size: 2em;
  }
  .fighterImage {
    max-height: 150px;
  }

  .fighterButton {
    font-size: 0.75em;
    padding: 7px 10px;
  }
}

@media (max-width: 480px) {
  .containerCard {
    gap: 10px;
  }
  .fighterCard {
    width: 110px;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 0.5rem;
  }
  .fighterName {
    font-size: 2em;
  }
  .fighterImage {
    max-height: 80px;
    margin-bottom: 10px;
  }
  .fighterButton {
    font-size: 0.5em;
    padding: 4px 6px;
    margin-top: 5px;
  }
  .fighterCard p {
    margin-bottom: 7px;
  }
}
